.wrapper-header-top{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.header-top-menu{
    display: flex;
    gap: 0 20px;
   

}
.item{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.header-menu-right-items{
    display: flex;
    gap: 0 20px;
}